<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <queries>
        <package android:name="com.anjona.game.puzzlelover" />
        <package android:name="saiwen.game.guessnumber.oatb"/>
        <package android:name="saiwen.game.yukon"/>
        <package android:name="saiwen.game.klotski"/>
        <package android:name="saiwen.game.slidegame"/>
        <package android:name="saiwen.game.minesweeper"/>
        <package android:name="saiwen.game.math24"/>
        <package android:name="saiwen.game.montana"/>
    </queries>
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.robining.games.frame.startup.StartUpContext"
                android:value="@string/androidx_startup" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.XProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>